#size{
    font-size: 20px;
}

.test1, .test2, .test3{
    display: flex;
    flex-direction: column;
    width: fit-content; 
}



.bothPlayersWords{
    
    height: auto; 
    /* border: solid blue;  */
    display: flex; 
    padding-right: 10px;
}

.leftPlayer, .rightPlayer{
    width: 50vw; 
    height: auto; 
    border: solid purple; 
    display: flex; 
    flex-direction: column;
}

.outerLetterContainer{
    height: 40vh; 
    margin-right: auto;
    margin-left: auto;
}

.letterContainer{
    /* margin: 0 auto;  */
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    max-width: 8em;
    /* margin: 10px;  */
    margin-left: 36.4vw;
    /* margin-right: auto; */
}





.letter{
    border: .1em solid black; 
    min-width: 2em; 
    min-height: 2em;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 3em;
}
 
.wordCss{
    text-align:  left;
    font-size: 20px;
}

#cent{
    text-align: center;
}
.letter:active{
    background-color: rgb(123, 180, 17);
}