#size{
    font-size: 20px;
}

.test1, .test2, .test3{
    display: flex;
    flex-direction: column;
    width: fit-content; 
}



.bothPlayersWords{
    
    height: auto; 
    /* border: solid blue;  */
    display: flex; 
    padding-right: 10px;
}

.leftPlayer, .rightPlayer{
    width: 50vw; 
    height: auto; 
    border: solid purple; 
    display: flex; 
    flex-direction: column;
    margin: 3px; 
    padding: 10px; 
    background-image: linear-gradient(rgb(186, 148, 148), rgb(244, 244, 235));
}

.outerLetterContainer{
    height: 40vh; 
    border: solid purple; 
    margin-right: 10px;
    padding-top: 20px;
    margin-left: auto;
    background-image: url(https://img.freepik.com/premium-photo/clear-blue-sky-sunset-with-horizon-calm-ocean-sea-background-picturesque_31965-138504.jpg);
    background-size: cover;
    display: flex; 
    justify-content: center;
}
/* .anotherContainer{
    width: 30em;
    border-color: black;
    height: 30em; 
    background-color: white;
} */
.letterContainer{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    justify-self: center;
    gap: 5px; 
    margin-top: 10px; 
}

.letterContainer > div {
    border-color: solid purple;
    background-color: white;
    box-shadow: 2px 2px rgb(90, 81, 81);
}



.letter{
    border: .1em solid black; 
    min-width: 2em; 
    min-height: 2em;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 3em;
}
 
.wordCss{
    text-align:  left;
    font-size: 20px;
    margin: 3px; 
    padding: 2px; 
    box-shadow: 2px 2px rgb(90, 81, 81);
}








#cent{
    text-align: center;
}
.letter:active{
    background-color: rgb(123, 180, 17);
}