#size{
    font-size: 1.5em;
    margin-left: 2em; 
    margin-right: 2em;
    margin-top: 1em;
}
.startAction{
    /* height: 20px;  */
    display: flex; 
    justify-content: center;
    font-size: 20px;

}






.outerLetterContainer{
    height: 40vh; 
    border: solid purple; 
    background-image: url(https://img.freepik.com/premium-photo/clear-blue-sky-sunset-with-horizon-calm-ocean-sea-background-picturesque_31965-138504.jpg);
    background-size: cover;

}
.anotherContainer{
    /* width: 30em;
    border-color: black;
    height: 30em; 
    background-color: white; */

    margin-right: 10px;
    padding-top: 20px;
    margin-left: auto;
    display: flex; 
    justify-content: center;
}

.letterContainer{
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    justify-self: center;
    gap: 7px; 
    margin-top: 10px; 
}

.letterContainer > div {
    border-color: solid purple;
    /* background-color: white; */
    box-shadow: 4px 4px rgb(147, 143, 143);

    font-style: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mispelled{
    font-size: 30px;
    background-color: red;
}

.letter{
    border: .1em solid black; 
    min-width: 2em; 
    min-height: 2em;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 3em;
    background-image: linear-gradient(rgb(194, 187, 187), rgb(244, 244, 235));
}

#cent1,#cent2{
    text-align: center;
}

.letter:active{
    background-image: none;
    background-color: rgb(123, 180, 17);
}

/* .letter {
    /* Default state */

/* 
#l1:checked.letter {
    background-image: none;
    background-color: rgb(123, 180, 17);
} */


.letter:focus{
    background-image: none;
    background-color: rgb(123, 180, 17);
}
 
.wordCss{
    text-align:  left;
    font-size: 20px;
    margin: 3px; 
    padding: 2px; 
    box-shadow: 2px 2px rgb(90, 81, 81);
}

/* ---------------------------------------------- */

.bothPlayersWords{
    border: solid purple;
    height: 50vh; 
    /* border: solid blue;  */
   
    padding-right: 10px;
    background-image: url(https://i.pinimg.com/originals/f2/c4/ec/f2c4ec760a4282838f5a1ed7b134bb6a.jpg);
    background-size: cover;
}

.bothPlayersWordsInner{
    display: flex; 
    justify-content: space-around;
}

.leftPlayer, .rightPlayer{
    width: 44vw; 
    height: fit-content;
    border: solid purple; 
    display: flex; 
    flex-direction: column;
    margin: 3px; 
    padding: 10px; 
    background-image: linear-gradient(rgb(186, 148, 148), rgb(244, 244, 235));
}
#sized{
    font-size: 20px;
    padding: 2px; 
    margin-top: 5px; 
    margin-left: 15px;
}
.test1, .test2, .test3{
    display: flex;
    flex-direction: column;
    width: fit-content; 
}

#pic{
    
}